*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 5rem;
    background-color: rgb(212, 255, 0);
    padding: 0 1rem;
}


footer{
    background-color: rgb(97, 207, 110);
    color: white;
    height: 40rem;
    line-height: 300%;
}

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 99vw;
    margin: auto;
}
/* section ul li{
    list-style-type: none;
    display: inline;
  } */





section.jumbo{
    height: 46rem;
    background-color: #b4d0e7;
}

div.jumbotron{
    border: 2px dashed rgb(0, 0, 0);
    height: 30rem;
    margin-top: 6rem;
}

div.trial{
    width: 40%;
    border: 2px dotted lime;
}

div.img-jumbo{
    width: 60%;
    border: 2px dotted lime;
}



article.professional,
article.advanced,
article.enterprise{
    width: 18rem;
    height: 50rem;
    border: 2px dotted black;
    display: inline-block;
    margin: 1.3rem;

}
section.plans-detail{
    margin: 2rem;
}


section.find-your-plan{
    margin-top: 10rem

}

section.office-contact{
    width: 70rem;
    height: 20rem;
    border: 2px dotted black;
}

section.partner{
    height: 30rem;
}

section.operations{
    height: 30rem;
}

div.tool{
    height: 25rem;
    width: 20rem;
    border: 2px dotted lime;
    margin: 2rem;
}

section.squares{
    border: 2px dotted rgb(255, 0, 183);
    height: 50rem;
    width: 100%;
}
section.big-container{
    margin: auto;
}

section.free-trial{
    background-color: pink;
    height: 20rem;
    padding-top: 9rem;
}

section.faq{
    margin: 5rem auto;
}

section.footer{
    padding-top: 5rem;
}

div.square{
    border: 2px dotted rgb(255, 0, 183);
}

div.mini-square{
    height: 10rem;
    width: 10rem;
    background-color: red;
}

div.img-partner{
    width: 65%;
    height: 30rem;
    border: 3px dotted violet;
}

div.find-partner{
    width: 35%;
    height: 30rem;
    border: 2px dotted rgb(0, 64, 255);
}


div.team{
    height: 20rem;
    width: 68rem;
    border: 2px dashed blue;
    margin: 5rem auto;
}






