*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    min-width: 1500px;
}

header{
    height: 80px;
    background-color: rgb(255, 255, 255);
    padding: 0 1rem;
    position: fixed;
    width: 100vw;
}
header a{
    color: rgb(0, 0, 0);
}
header a:hover{
    color:#0061ff
}
main{
    padding-top: 80px;
}
footer{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 31.9rem;
    line-height: 300%;
    font-size: 0.8rem;
}
footer ul li{
    color: #ffffff;
    cursor: pointer;
}
footer ul li:hover{
    color: rgb(150, 148, 148)
}
footer hr{
    width: 10%;
    margin-left: 4rem;
}

footer i{
    margin-left: 4rem;
}

.flex{
    display: flex;
}

.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-wrap{
    display:flex;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
}

.fa-sharp{
    font-size: 4rem;
}
.fa-check{
    color: #0061ff;
}


.container{
    max-width: 1250px;
    margin: 0 auto;
}


/* section ul li{
    list-style-type: none;
    display: inline;
  } */

.container-intro{
    width: 55vw;
    margin: 0 auto;
}

.container-little{
    width: 55vw;
    margin: 0 auto;

}

.style-button{
    padding: 0.6rem 1.25rem;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
}

/* Font */

h1{
    font-weight: 800;
    font-size: 5rem;
    justify-content: flex-start;
    padding: 6rem 0 0 3rem;
    width: 60vw;
    margin: auto;
}

h2{
    text-align: start;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    
}
#h2-radio{
    text-align: start;
    margin-left: 1rem;
}
#operation-h2{
    text-align: start;
    margin-left: 6rem;
}
h3{
    font-size: xx-large;
}
h4{
    font-size: 2rem;}



h5{
    font-size: 1.5rem;
}

p{
padding: 2rem 0;
}

p.grey{
    padding: 0%;
    color: #999a9c;
}

section.jumbo{
    height: 47.5rem;
    background-color: #b4d0e7;

}

div.jumbotron{
    /* border: 2px dashed rgb(0, 0, 0); */
    height: 466px;
    margin-top: 2rem;
    justify-content: center;
    width: 55%;
    
    
}

div.trial{
    width: 30%;
    /* border: 2px dotted lime; */
}
div.trial p{
    font-size: 0.95rem;
}

div.img-jumbo{
    width: 100%;
    /* border: 2px dotted lime; */
    background-image: url(../imgs/jumbo.png); 
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5.8rem;
    /* background-color: #61082b; */
    
}
div.indent{
    text-indent: 1.2rem;
}



div.img-partner{
background-image: url(../imgs/partner.png);
background-repeat: no-repeat;
background-size: contain;
}
div.padding{
padding: 1rem;
}


article.professional,
article.advanced,
article.enterprise{
    width: 20rem;
    height: 82rem;
    border: 1px solid rgb(198, 198, 198);
    display: inline-block;
    margin: 1.3rem;
    padding-left: 1rem;
    align-items: stretch;
    

}
/* button sections */
button.inizia{
    color: white;
    background-color: #0061ff;
    padding: 0.5rem 1.1rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
button.inizia:hover{
    color: black;
    background-color: grey;
}

div button.download{
    color: white;
    background-color: #0061ff;
    padding: 1rem 2rem;
    border: none;
    
}
div button.download:hover{
    background-color: #707070;
    color: black;
    cursor: pointer;
}

div button.trial-download{
    color: rgb(0, 0, 0);
    background-color: #fafcff;
    padding: 1rem 2rem;
    border: none;
    cursor: pointer;
}
div button.trial-download:hover{
    color:black;
    background-color: #0061ff;
}


section button.partner{
    color: rgb(0, 0, 0);
    padding: 0.8rem 1.2rem;
    border:  1px solid black;
}



.style-button{
    color: white;
    background-color: #0061ff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer; 
}
button.style-button:hover{
        color:black;
        background-color: #8c8c8c;
}
.arrow{
    font-size: 2rem;
}

/* Section Part */

/* section.leftheader span,
section.rightheader span{
padding: 0 2rem;
} */


section.plans-detail{
    margin: 2rem;
    
}


div.find-your-plan{
    margin-top: 15rem

}

section.office-contact{
    
    margin: 0 auto;
    
}

section.partner{
    height: 30rem;
}

div.operations{
    margin:6rem;
    height: 30rem;
    
}
section h2{
    
    margin-top: 8rem;
    
}

section#clients{
    margin-bottom: 10rem;
}
section#clients h2{
    margin-bottom: 4rem;
    margin-left: 7rem;
}
section#clients a{
    margin-bottom: 2rem;
}

section.free-trial{
    background-color: #b4d0e7;
    height: 20rem;
    padding-top: 9rem;
    color: #61082b;
    font-size: 3rem;
}

section.faq{
    margin: 10rem auto;
}

section.footer{
    padding-top: 5rem;
}

section.footer ul li{
    list-style: none;
}

section.seller-office{
    height: 15rem;
    width: 66rem;
    border:1px solid rgb(151, 151, 151);
    margin: 5rem auto;  
}
/* Div section containers */
div.info{
    line-height: 3;
    padding: 0 1rem 1rem 1rem;
}
article div.user {
    border-bottom: 1px solid  grey;
    margin-bottom: 1px;
}

div.tool{
    height: 37rem;
    width: 20rem;
    /* border: 2px dotted lime; */
    margin: 2rem;
}
div.container a{
    margin-left: 7rem;
    
}

div.tool img{
    width: 19rem;
}


div.squares{
    height: 600px;
    /* background-color: #61082b; */
    margin-top: 2rem;
    position: relative;
    
    
}
div.squares .square{
width: calc(100vw / 3);
background-color: #f5f5f5;

/* background-color: grey; */
/* border:2px dashed red; */
}

div.mini-square{
    width: 50%;
    height: 50%;
    /* background-color: #0061ff; */
    position: relative;
}
div.mini-square img{
    max-width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1)
}
div.square hr.hr-color{
    position: absolute;
    bottom: 69%;
    left: 36%;
    width: 6%;
    color: dimgrey;
    opacity: 20%;
    
}
div.square p{
    position: absolute;
    bottom: 36%;
    left: 36%;
    width: 25%;

}

div.img-partner{
    width: 32%;
    height: 30rem;
    /* border: 3px dotted violet; */
}

div.find-partner{
    width: 20%;
    height: 30rem;
    /* border:1px solid black; */
    
}
div.find-partner p{
    width: 85%;
}

div.singolo{
    margin: 0.5rem;
    text-align: center;
}



input{
    width: 20px;
    height: 20px;
    margin-bottom: 3rem;
}

/* 
 Square section ONE BY ONE  */
div.designit{
    background-color: #a2d39b;
    border: 1rem solid #d1e9cd; 
}
div.arizona{
        background-color: #61082b;
        
}
div.un-florida{
    background-color: #0061ff;
    
}
div.topps{
    background-color: #ff1c1c;
}
div.wbr{
    background-color:#d5001f;

}
div.hearst{
    background-color: #b4d0e7;
}
div.lonely-planet{
    background-color: rgb(13, 36, 129);
}
div.clearchannel{
    background-color: rgb(255, 216, 48);
} 
img.big-designit{
    width: 300px;
    height: 200px;
    position: absolute;
    top:1%;
    left:36%;
    
}



/* header top id */
nav#top-nav{
    height: 80px;
    width: 100%;
    justify-content: space-between;
    z-index: 1;

}
#left-side,
#right-side{
    width: 50%;
    align-items: center;
    font-size: 1rem;
    font-weight: 200;  
}
#left-side{
    width: 100%;
    padding-right: 2rem;
}
#right-side{
    justify-content: flex-end;
    margin-left: 22rem;
}
nav#top-nav a,
div#left-side img{
    padding: 0 1rem;
}
nav#top-nav img{
    width: 150px;
}

/* ID SECTIONS */
section#enterprise-bottom{
    width: 100%;
    /* height: 250px; */
    margin: 3rem 0;
    border: 1px solid grey;
    
}
.bottom-cards div.plan-cost{
    justify-content: space-between;
    padding: 1rem 1rem 0.5rem 1rem;
}
div.info{
        line-height: 3;
        padding: 0 1rem 1rem 1rem;
}

/* Icons */

aside{
    list-style-type: none;
    color: white;
    line-height: 150%;
    font-size: 1rem;
    margin-top: 1rem;
    
}
aside ul li{
    display:inline-block;
    margin: 0.5rem;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    
}

aside.socials-ico{
}
ul.socials{
    margin-top:1rem;  
}


/* Hover Dropdown Menu */
.dropbtn {
    color: rgb(0, 0, 0);
    padding: 0.5rem 1.1rem;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


/* lANGUAGE */
select
{
	border:2px solid black;
	float:left;
	border-radius: 64px 0px 0px 77px;
	padding:10px;
    margin-left: 74px;
    margin-top: 7px;
    outline: none;
}


.navbar .navbar-nav {
	position: relative;
}
.navbar a, .navbar a:active {
	color: #888;
	font-size: 15px;
	background: transparent;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 35px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
	color: #fff;
	background: #5c6ac4 !important;
	padding-top: 8px;
	padding-bottom: 6px;
	border-radius: 4px;
	vertical-align: middle;
	border: none;
	min-width: 120px;
	margin: 2px 0;
}
.navbar .btn-primary:hover, .navbar .btn-primary:focus {		
	color: #fff;
	background: #5765c1 !important;
}
.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.search-box .btn span {
	transform: scale(0.9);
	display: inline-block;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .navbar-nav .dropdown-menu a {
	padding: 8px 20px;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .navbar-form-wrapper {
	padding: 0 15px;
}
.navbar .login-form label {
	color: #888;
	font-weight: normal;
}
.navbar .dropdown-menu.login-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.navbar .navbar-nav .dropdown-menu.login-form a {
	padding: 0 !important;
	color: #5c6ac4;
	font-weight: normal;
}
.navbar .navbar-nav .dropdown-menu.login-form a:hover{
	text-decoration: underline;
}
.navbar .dropdown-menu.login-form .checkbox-inline {
	margin-top: 10px;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu.login-form {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
	}
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
	.navbar .navbar-nav .btn-primary, .navbar .navbar-nav .btn-primary:active {
		display: block;
	}
}